body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#lotto-numbers {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

#lotto-numbers span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}
